


<head>
<link href='http://fonts.googleapis.com/css?family=Bigelow+Rules' rel='stylesheet' type='text/css'>

</head>

<div id ="heading">
<h1><a href="/" ><span id="cheese">Mots</span>arella</a></h1>
<h2>Fill in the blanks</h2>
</div>
<div id="container">
<h3>You are currently filling out: <%= @libs.title %></h3>



<% if (@result.count == 0) %>
<p>We're sorry but we were unable to determine any parts of speech from the given document. </p>
<p style="text-align:center;"><%= link_to "Try Again", "/libs/new" %></p>
<%else%>

<%= form_tag( "/libs/" +@libs.title.to_str() +"/fill", method:"get") do %>
<input type="hidden" name="lib_id" <%= "value="+@libs.title %> />
<% i = 0 %>
<% @result.each do |loopme| %>
<%if loopme.pos != "" %>


<%= label_tag(loopme.pos + i.to_s(), "Insert a(n) "+loopme.pos)  %>
<%= text_field_tag(loopme.pos + i.to_s()) %> 



<br/>
<div class="hideme"><%= i=i+1%></div><% end %>
<% end %>

<%= submit_tag "Submit" %>

<%end%>
<% end %>
</div>