


<head>
<link href='http://fonts.googleapis.com/css?family=Bigelow+Rules' rel='stylesheet' type='text/css'>

</head>

<div id ="heading">
<h1><a href="/" ><span id="cheese">Mots</span>arella</a></h1>
<h2>Fill in the blanks</h2>
</div>
<div id="container">
<p>You are currently filling out: <%= @libs.title %></p>





<%= form_tag( "/libs/" +@libs.title.to_str() +"/fill", method:"get") do %>
<input type='hidden' name='lib_id' <%= "value="+@libs.title %> />
<% @result.each do |loopme| %>
<%if loopme.blank != "" %>
<%= label_tag(loopme.blank, "Insert a(n) "+loopme.blank)  %>
<%= text_field_tag(loopme.blank) %> 
<br/>
<% end %>
<% end %>

<%= submit_tag "Submit" %>
<% end %>
</div>