
<% require 'pp' %>

<head>
<link href='http://fonts.googleapis.com/css?family=Bigelow+Rules' rel='stylesheet' type='text/css'>

</head>

<div id ="heading">
<h1><a href="/" ><span id="cheese">Mots</span>arella</a></h1>
<h2>And the new text is...</h2>
</div>
<div id="container">

	<h3>You are currently playing <%= @libs.title %>.</h3>
<div class="madlibs">	
<p>
<%= @libs.blank.each do |it| %>

<%= it.before %>
<span class="ha"><%= it.filledin %></span>
<% end %>



</p>
<p style="text-align:center;">
<%= link_to "Play Again", "/libs/new" %>
</p>
	</div>
</div>